@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --bg-color: #1C1A39;
    --card-bg-color: #121129;
    --input-bg-colr: #2A2753;
    --btn-color: #756BFF;
    --btn-text-color: #FFFFFF;

    --closed-color: #FF5EAB;
    --open-color: #00BD9B;

    // text
    --text-color: #C4C0FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--bg-color);

    .bg-container {
        position: absolute;
        top: 20%;
        left: 38%;
        background: linear-gradient(130deg, #FF5EAB 0.87%, #756BFF);
        padding: 170px 180px;
        border-radius: 0 25px 25px 25px;
    }

    .container {
        position: absolute;
        background: var(--card-bg-color);
        padding: 20px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 20px;


        h1 {
            color: var(--text-color);
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .input {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                color: var(--text-color);
                font-size: 12px;
                font-weight: 700;
            }

            .input-area {
                display: flex;
                align-items: center;
                gap: 5px;
                color: var(--btn-color);

                input {
                    width: 120px;
                    background: var(--input-bg-colr);
                    padding: 10px;
                    border: 2px solid var(--input-bg-colr);
                    border-radius: 4px;
                }

                ::placeholder {
                    color: var(--text-color);
                    font-weight: 700;
                    font-size: 13px;
                }

                img {
                    cursor: pointer;
                    width: 25px;
                    height: 25px;

                }

                .img-text {
                    cursor: pointer;
                    color: var(--btn-color);
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }

        // content start
        .content {
            margin-top: 20px;

            // card start
            .card {
                display: flex;
                flex-direction: column;
                gap: 10px;

                color: var(--text-color);
                margin-bottom: 20px;

                // heading starts
                .heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--text-color);

                    // close starts

                    .close {
                        background: var(--closed-color);
                        padding: 5px;
                        border-radius: 20px;
                        color: var(--btn-text-color);
                        font-size: 10px;
                        font-weight: 700;
                    }

                    // close ends

                    // open starts
                    .open {
                        background: var(--open-color);
                        padding: 5px;
                        border-radius: 20px;
                        color: var(--btn-text-color);
                        font-size: 10px;
                        font-weight: 700;
                    }

                    // open ends
                }

                // heading ends
            }

            p {
                color: var(--text-color);
                font-size: 16px;
                font-weight: 400;
            }

            .time {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                gap: 5px;
            }

            // card ends
        }

        // content end


        .btn {

            background: var(--btn-color);
            padding: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            color: var(--btn-text-color);
        }
    }
}